/* Adding a button modifies the toolbar's height, we need to make it unchangeable somehow */
#ESB_toolbar
{
	height: 22px;
}

/* Needed to fix the broken button appearance, maybe the result of some skin bug in australis */
#ESB_toolbar .toolbarbutton-1,
#ESB_toolbar .toolbarbutton-1 > .toolbarbutton-menubutton-button
{
	-moz-appearance: none;
	border-style: none;
	padding: 0 2px;
}

#ESB_toolbar .toolbarbutton-1:not([disabled]):hover,
#ESB_toolbar .toolbarbutton-1[open],
#ESB_toolbar .toolbarbutton-1 > .toolbarbutton-menubutton-button:not([disabled]):hover
{
	background-image: linear-gradient(to bottom, transparent, #C4DEFF),linear-gradient(to bottom, transparent, #C4DEFF 50%),linear-gradient(to bottom, transparent, #C4DEFF 50%);
	background-position: left;
	background-size: auto, 1px 100%, 1px 100%;
	background-repeat: no-repeat;
}

/* We need to see the spacer in customization mode */
#main-window[customize-entered] #ESB_toolbarspacer 
{
	border: 10px solid black;
}

/* We need to adapt the widget for the customization panel */
toolbarpaletteitem[place="palette"] > #ESB_toolbaritem  > #ESB_old_status_bar > #ESB_old_percent,
toolbarpaletteitem[place="palette"] > #ESB_toolbaritem  > #ESB_old_status_bar > #ESB_old_loaded,
toolbarpaletteitem[place="palette"] > #ESB_toolbaritem  > #ESB_old_status_bar > #ESB_old_images,
toolbarpaletteitem[place="palette"] > #ESB_toolbaritem  > #ESB_old_status_bar > #ESB_old_speed,
toolbarpaletteitem[place="palette"] > #ESB_toolbaritem  > #ESB_old_status_bar > #ESB_old_time,
toolbarpaletteitem[place="palette"] > #ESB_toolbaritem  > #ESB_new_status_bar,
#ESB_toolbaritem[cui-areatype="menu-panel"] > #ESB_old_status_bar > #ESB_old_percent,
#ESB_toolbaritem[cui-areatype="menu-panel"] > #ESB_old_status_bar > #ESB_old_loaded,
#ESB_toolbaritem[cui-areatype="menu-panel"] > #ESB_old_status_bar > #ESB_old_images,
#ESB_toolbaritem[cui-areatype="menu-panel"] > #ESB_old_status_bar > #ESB_old_speed,
#ESB_toolbaritem[cui-areatype="menu-panel"] > #ESB_old_status_bar > #ESB_old_time,
#ESB_toolbaritem[cui-areatype="menu-panel"] > #ESB_new_status_bar
{
	display: none;
} 

toolbarpaletteitem[place="palette"] > #ESB_toolbaritem  > #ESB_old_status_bar
{
	width: 32px;
	height: 32px;
	background-repeat: no-repeat;
	background-color: transparent !important;
	background-position: center center;
	background-image: url(chrome://extendedstatusbar/skin/icon.png) !important;
}

#ESB_toolbaritem[cui-areatype="menu-panel"] > #ESB_old_status_bar
{
	width: 89px;
	height: 83px;
	background-repeat: no-repeat;
	background-color: transparent !important;
	background-position: center center;
	background-image: url(chrome://extendedstatusbar/skin/icon.png) !important;
}

#ESB_toolbaritem[cui-areatype="menu-panel"]
{
	border: 1px solid Black;
}

#ESB_new_status_bar {
}

#ESB_document_working_box {
    border-right: 1px solid;
	background-image:url(chrome://extendedstatusbar/skin/white_trans_grad.png);
}

#ESB_document_working_progressbar {
    background-color: DarkGrey;
	background-image:url(chrome://extendedstatusbar/skin/white_trans_grad.png);
}

#ESB_document_working_label {
}


#ESB_document_finished_box{
    border-right: 1px solid;
	background-image:url(chrome://extendedstatusbar/skin/white_trans_grad.png);
}

#ESB_document_finished_progressbar {
    background-color: DarkGrey;
	background-image:url(chrome://extendedstatusbar/skin/white_trans_grad.png);
}

#ESB_document_finished_label {
}

#ESB_images_box {
    border-right: 1px solid;
	background-image:url(chrome://extendedstatusbar/skin/white_trans_grad.png);
}

#ESB_images_label {
}

#ESB_loaded_working_box {
    background-color: DarkGrey;
    border-right: 1px solid;
	background-image:url(chrome://extendedstatusbar/skin/white_trans_grad.png);
}

#ESB_loaded_working_progressbar {
    border-right: 10px solid LightGray;
}

#ESB_loaded_working_label {
}

#ESB_loaded_finished_box {
	background-color: DarkGrey;
    border-right: 1px solid;
	background-image:url(chrome://extendedstatusbar/skin/white_trans_grad.png);
}

#ESB_loaded_finished_progressbar {
}

#ESB_speed_box {
    border-right: 1px solid;
	background-image:url(chrome://extendedstatusbar/skin/white_trans_grad.png);
}

#ESB_speed_label {
}

#ESB_time_box {
	background-image:url(chrome://extendedstatusbar/skin/white_trans_grad.png);
}

#ESB_time_label {
}
