/* Adding a button modifies the toolbar's height, we need to make it unchangeable somehow */
#ESB_toolbar
{
	height: 22px;
}

/* Needed to fix the broken button appearance, maybe the result of some skin bug in australis */
#ESB_toolbar .toolbarbutton-1,
#ESB_toolbar .toolbarbutton-1 > .toolbarbutton-menubutton-button
{
	-moz-appearance: none;
	border-style: none;
	padding: 0 2px;
}

#ESB_toolbar .toolbarbutton-1:not([disabled]):hover,
#ESB_toolbar .toolbarbutton-1[open],
#ESB_toolbar .toolbarbutton-1 > .toolbarbutton-menubutton-button:not([disabled]):hover
{
	background-image: linear-gradient(to bottom, transparent, #C4DEFF),linear-gradient(to bottom, transparent, #C4DEFF 50%),linear-gradient(to bottom, transparent, #C4DEFF 50%);
	background-position: left;
	background-size: auto, 1px 100%, 1px 100%;
	background-repeat: no-repeat;
}

/* We need to see the spacer in customization mode */
#main-window[customize-entered] :-moz-any(toolbarspacer):not([cui-areatype="menu-panel"]) {
	border: 10px solid black;
}

#ESB_new_status_bar {
}

#ESB_document_working_box {
    border-right: 1px solid;
	background-image:url(chrome://extendedstatusbar/skin/white_trans_grad.png);
}

#ESB_document_working_progressbar {
    background-color: DarkGrey;
	background-image:url(chrome://extendedstatusbar/skin/white_trans_grad.png);
}

#ESB_document_working_label {
}


#ESB_document_finished_box{
    border-right: 1px solid;
	background-image:url(chrome://extendedstatusbar/skin/white_trans_grad.png);
}

#ESB_document_finished_progressbar {
    background-color: DarkGrey;
	background-image:url(chrome://extendedstatusbar/skin/white_trans_grad.png);
}

#ESB_document_finished_label {
}

#ESB_images_box {
    border-right: 1px solid;
	background-image:url(chrome://extendedstatusbar/skin/white_trans_grad.png);
}

#ESB_images_label {
}

#ESB_loaded_working_box {
    background-color: DarkGrey;
    border-right: 1px solid;
	background-image:url(chrome://extendedstatusbar/skin/white_trans_grad.png);
}

#ESB_loaded_working_progressbar {
    border-right: 10px solid LightGray;
}

#ESB_loaded_working_label {
}

#ESB_loaded_finished_box {
	background-color: DarkGrey;
    border-right: 1px solid;
	background-image:url(chrome://extendedstatusbar/skin/white_trans_grad.png);
}

#ESB_loaded_finished_progressbar {
}

#ESB_speed_box {
    border-right: 1px solid;
	background-image:url(chrome://extendedstatusbar/skin/white_trans_grad.png);
}

#ESB_speed_label {
}

#ESB_time_box {
	background-image:url(chrome://extendedstatusbar/skin/white_trans_grad.png);
}

#ESB_time_label {
}
